.pictogramList {
  display: grid;
  left: 0;
  position: absolute;
  margin: 0 0 0 20px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: .5rem;
  height: max-content;
  z-index: 2;
}

.pictogramList img {
  padding: 6px;
  width: auto;
}

@media (max-width: 768px) {
  .pictogramList {
    position: relative;
    margin: 1rem auto;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    justify-items: center;
    width: 90%;
    left: auto;
  }

  .pictogramList img {
    max-width: 50px;
    height: auto;
  }
}
